ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  max-width: 500px;
  width: 100%;
  list-style: none;
}

li {
  .button {
    display: block;
    padding: 20px;
    width: 100%;
    color: #000;
    text-align: left;
    background-color: #ddd;
    border: 0;
    cursor: pointer;
  }

  .content {
    display: none;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
  
  &.on {
    .button {
      background-color: #fff;
      font-weight: bold;
    }
    
    .content {
      display: block;
    }
  }
}